<!DOCTYPE html>
<html>
  <head>
    <title>GoalsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%if logged_in?%>
      <form action="<%=session_url%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="logout"> 
      </form>
    <% else %>
     <form action="<%=new_session_url%>" method="get">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="submit" value="log in"> 
      </form> 
    <% end %>
    <%= yield %>
  </body>
</html>
