<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnB</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U"></script>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
       
    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
